<!-- <ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button (click)="goHome()"></ion-back-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header> -->
<ion-content fullscreen class="ion-padding">
	<ion-spinner class="center" *ngIf="loaderAMm" color="primary" name="lines"></ion-spinner>
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown" 
			pullingText="Pull to refresh"
			refreshingSpinner="circles"
			refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<div class="form-style-10" *ngIf="!loaderAMm">
		<h1>Edit Ticket</h1>
		<form #form="ngForm" (ngSubmit)="UpdateTicket(form)"> 
			
			<div class="section"><span>1</span> Ticket Details  </div>
			<div class="inner-wrap">				
				<label>Subject <input type="text" name="subject" [(ngModel)]="viewData.name"/></label>
				<label>
					<div class="rate">Priority 
						<input type="radio" id="star3" name="priority" [(ngModel)]="viewData.priority" value="3" />
						<label for="star3" title="text">3 stars</label>
						<input type="radio" id="star2" name="priority"  [(ngModel)]="viewData.priority" value="2" />
						<label for="star2" title="text">2 stars</label>
						<input type="radio" id="star1" name="priority" [(ngModel)]="viewData.priority" value="1" />
						<label for="star1" title="text">1 stars</label>
						<!-- [checked]="viewData.priority==='2'" -->
					</div>
				</label>		
				<br> 
				<br>
				<input type="hidden" name="P_id" [(ngModel)]="P_id" >
				<input type="hidden" name="my_id" [(ngModel)]="my_id">
				<p><label> Category
					<input type="text" (click)="OpenModal('kin_ticket_category')" [ngModelOptions]="{standalone: true}" [value]="category_id.name" [(ngModel)]="category_id.name"/>
					<input type="hidden" name="category_id" [value]="category_id.id" [(ngModel)]="category_id.id">
				</label></p>	
				<hr>		
				<label> Assigned User Group
					<input type="text" (click)="OpenModal('user_ticket_group')" [ngModelOptions]="{standalone: true}" [value]="user_ticket_group_id.name" [(ngModel)]="user_ticket_group_id.name"/>
					<input type="hidden" name="user_ticket_group_id" [value]="user_ticket_group_id.id" [(ngModel)]="user_ticket_group_id.id">
				</label>	
				<label>Assigned Date 
					<ion-datetime displayFormat="DD/MM/YYYY"  [(ngModel)]="viewData.assigned_date" placeholder="Select Date" name="assigned_date" ngModel></ion-datetime>
				</label>
				<label>Expected Finished Date 
					<ion-datetime displayFormat="DD/MM/YYYY" placeholder="Select Date" [(ngModel)]="viewData.expected_finish_date" name="expected_finish_date" ngModel></ion-datetime>
				</label>
				<label> Customer 
					<input type="text" (click)="OpenModal('res_partner')" [ngModelOptions]="{standalone: true}" [value]="partner_id.name" [(ngModel)]="partner_id.name"/>
					<input type="hidden" name="partner_id" [value]="partner_id.id" [(ngModel)]="partner_id.id">						
				</label>
			</div>
			
			<div class="section"><span>2</span>Customer Details</div>
			<div class="inner-wrap">
				<label>Package 
					<input type="text" (click)="OpenModal('product_template')" [ngModelOptions]="{standalone: true}" [value]="services.name" [(ngModel)]="services.name"/>
					<input type="hidden" name="services" [value]="services.id" [(ngModel)]="services.id">
				</label>
				<label>Location 
					<input type="text" (click)="OpenModal('kkon_location')" [ngModelOptions]="{standalone: true}" [value]="location_id.name"  [(ngModel)]="location_id.name" />
					<input type="hidden" name="location_id" [value]="location_id.id" [(ngModel)]="location_id.id">
				</label>
			
				<label>Base Station 
					<input type="text" (click)="OpenModal('base_station')" [ngModelOptions]="{standalone: true}" [value]="base_station_maint_id.name" [(ngModel)]="base_station_maint_id.name"/>
					<input type="hidden" name="base_station_maint_id" [value]="base_station_maint_id.id" [(ngModel)]="base_station_maint_id.id">
				</label>
				<label>CPE Model 
					<input type="text" name="equipment_required"  [(ngModel)]="viewData.equipment_required"/>
				</label>
				<label>Contact Person 
					<input type="text" name="partner_name"  [(ngModel)]="viewData.partner_name"/>
				</label>
				<label>Bandwidth  
					<input type="text" name="bandwidth_test" [(ngModel)]="viewData.bandwidth_test"/>
				</label>
				<!-- start here -->
				<label>Vlan 
					<input type="text" name="Vlan" [(ngModel)]="viewData.Vlan"/>
				</label>
				<label>Customer IP Address 
					<input type="text" name="Customer_IP_Address" [(ngModel)]="viewData.Customer_IP_Address"/>
				</label>
				<label>Base Station IP Address 
					<input type="text" name="Base_station_IP_address" [(ngModel)]="viewData.Base_station_IP_address"/>
				</label>
				<label>Subnet 
					<input type="text" name="Subnet" [(ngModel)]="viewData.Subnet"/>
				</label>
				<label>Gateway 
					<input type="text" name="Gateway" [(ngModel)]="viewData.Gateway"/>
				</label>				
				<!-- End here -->

				<label>Radio IP Address 
					<input type="text" name="radio_ip_addr"  [(ngModel)]="viewData.radio_ip_addr"/>
				</label>
				<label>Indoor WAN IP Address 
					<input type="text" name="indoor_ip_address"  [(ngModel)]="viewData.indoor_ip_address"/>
				</label>
				<label>Installation Date 
					<input type="text" name="installation_date"  [(ngModel)]="viewData.installation_date"/>
				</label>
				<label>Comment 
					<textarea name="comment_survey" [(ngModel)]="viewData.comment_survey"></textarea>
				</label>
				<label>Configuration Status 
					<input type="text" name="config_status"  [(ngModel)]="viewData.config_status"/>
				</label>
			</div>
			<div class="section"> <span>3</span> Activation Form </div>
			<div class="inner-wrap">
				<label>Installation Picture  
					<ion-button color="medium" size="large" (click)="selectImage('base64INS')">
						<ion-icon slot="icon-only" name="camera"></ion-icon>
					</ion-button>
					<img [src]="installation_picture" *ngIf="installation_picture" />
					<input type="hidden" name="installation_picture" [value]="base64INS" [(ngModel)]="base64INS">
				</label>
				<label>OLT 
					<input type="text" (click)="OpenModal('kkon_olt')" [ngModelOptions]="{standalone: true}" [value]="olt_id.name" [(ngModel)]="olt_id.name"/>
					<input type="hidden" name="olt_id" [value]="olt_id.id" [(ngModel)]="olt_id.id">
				</label>
				<label>GPON Port  
					<input type="text" name="gpon_level"  [(ngModel)]="viewData.gpon_level"/>
				</label>
				<label>Power Level  
					<input type="text" name="confirmed_power_level_id"  [(ngModel)]="viewData.confirmed_power_level_id"/>
				</label>
				<label>IDU SerialNumber  
					<input type="text" name="idu_serial_no"  [(ngModel)]="viewData.idu_serial_no"/>
				</label>
				<label>Splitter Box Code  
					<input type="text" name="splitter_box_code"  [(ngModel)]="viewData.splitter_box_code"/>
				</label>
				<label>Wifi SSID  
					<input type="text" name="wifi_ssid"  [(ngModel)]="viewData.wifi_ssid"/>
				</label>
				<label>Installation FSE 
					<input type="text" (click)="OpenModal('res_users', 1)" [ngModelOptions]="{standalone: true}" [value]="installation_fse_id.name" [(ngModel)]="installation_fse_id.name"/>
					<input type="hidden" name="installation_fse_id" [value]="installation_fse_id.id" [(ngModel)]="installation_fse_id.id">
				</label>
				<label>Wireless Technology  
					<input type="text" name="wireless_technology"  [(ngModel)]="viewData.wireless_technology"/>
				</label>
				<label>Region 
					<input type="text" (click)="OpenModal('kkon_region')" [ngModelOptions]="{standalone: true}" [value]="region_id.name" [(ngModel)]="region_id.name"/>
					<input type="hidden" name="region_id" [value]="region_id.id" [(ngModel)]="region_id.id">
				</label>
				<label>Installation Approval 
					<input type="text" (click)="OpenModal('res_users', 2)" [ngModelOptions]="{standalone: true}" [value]="installation_approver_id.name" [(ngModel)]="installation_approver_id.name"/>
					<input type="hidden" name="installation_approver_id" [value]="installation_approver_id.id" [(ngModel)]="installation_approver_id.id">
				</label>
				<label>RSSI  
					<input type="text" name="rssi_id"  [(ngModel)]="viewData.rssi_id"/>
				</label>
				<label>Radio IP Address  
					<input type="text" name="radio_ip_addr"  [(ngModel)]="viewData.radio_ip_addr"/>
				</label>
				<label>Indoor IP Address  
					<input type="text" name="indoor_ip_address"  [(ngModel)]="viewData.indoor_ip_address"/>
				</label>
				<label>AP IP Address  
					<input type="text" name="ap_ip_address"  [(ngModel)]="viewData.ap_ip_address"/>
				</label>
				<label>Radio Model(microwave,MK,UB,Vjjt etc)  
					<input type="text" name="radio_model"  [(ngModel)]="viewData.radio_model"/>
				</label>
				<label>Vlan  
					<input type="text" name="Vlan"  [(ngModel)]="viewData.Vlan"/>
				</label>
				<label>Comment  
					<input type="text" name="comment_activation"  [(ngModel)]="viewData.comment_activation"/>
				</label>
				
				<label>Rejection Evidence 
					<ion-button color="medium" size="large" (click)="selectImage('base64Rej')">
						<ion-icon slot="icon-only" name="camera"></ion-icon>
					</ion-button>
					<img [src]="rejection_evidence" *ngIf="rejection_evidence" />
					<input type="hidden" name="rejection_evidence" [(ngModel)]="base64Rej">
				</label>
				
			</div>
			
			<div class="section"><span>4</span>Quality Assurance Form</div> 
			<div class="inner-wrap">
				<label>Quality Assurance Form  
					<ion-button color="medium" size="large" (click)="selectImage('base64QA')">
						<ion-icon slot="icon-only" name="camera"></ion-icon>
					</ion-button>
					<img [src]="qa_form" *ngIf="qa_form" />
					<input type="hidden" name="qa_form" [(ngModel)]="base64QA">
				</label>
				<label>Confirmed RSSI  
					<input type="text" name="confirmed_rssi_id"  [(ngModel)]="viewData.confirmed_rssi_id"/>
				</label>
				<label>Confirmed Power Level  
					<input type="text" name="confirmed_power_level_id"  [(ngModel)]="viewData.confirmed_power_level_id"/>
				</label>
				<label>Bandwidth Test (Pass or Failed) 
					<ion-select name="bandwidth_test" [(ngModel)]="viewData.bandwidth_test">>
						<ion-select-option value="Yes">Yes</ion-select-option>
						<ion-select-option value="No">No</ion-select-option>
					</ion-select>					
				</label>
				<label>Earthen 
					<ion-select name="earthen" [(ngModel)]="viewData.earthen">>
						<ion-select-option value="Yes">Yes</ion-select-option>
						<ion-select-option value="No">No</ion-select-option>
					</ion-select>					
				</label>
				<label>Surge Protector 
					<ion-select name="surge_protector" [(ngModel)]="viewData.surge_protector">>
						<ion-select-option value="Yes">Yes</ion-select-option>
						<ion-select-option value="No">No</ion-select-option>
					</ion-select>					
				</label>
				<label>Indoor Picture 
					<ion-select name="indoor_picture" [(ngModel)]="viewData.indoor_picture">>
						<ion-select-option value="Yes">Yes</ion-select-option>
						<ion-select-option value="No">No</ion-select-option>
					</ion-select>					
				</label>
				<label>Outdoor Picture 
					<ion-select name="outdoor_picture" [(ngModel)]="viewData.outdoor_picture">
						<ion-select-option value="Yes">Yes</ion-select-option>
						<ion-select-option value="No">No</ion-select-option>
					</ion-select>					
				</label>
				<label>Cable Part Picture 
					<ion-select name="cable_part_picture" [(ngModel)]="viewData.cable_part_picture">
						<ion-select-option  value="Yes">Yes</ion-select-option>
						<ion-select-option  value="No">No</ion-select-option>
					</ion-select>					
				</label>
			</div>
			<div class="section"> <span>5</span> Incident details </div>
			<div class="inner-wrap">
				<label>Details 
					<textarea name="description" [(ngModel)]="viewData.description"></textarea>
				</label>
			</div>

			<div class="button-section">
				<ion-spinner *ngIf="authService.islog" color="primary" name="lines"></ion-spinner>
				<button class="button button-full blue"  *ngIf="!authService.islog" type="submit" [disabled]="form.invalid">Edit Ticket</button>
			</div>
		</form>
	</div>
</ion-content>
<div *ngIf="!loaderAMm">
	<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
		<ion-fab-button color="danger" (click)="logoutUser()">
			<ion-icon name="log-out"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="primary" (click)="goAdd()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</div>