<ion-content fullscreen class="ion-padding">
	<ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
		<ion-refresher-content
			pullingIcon="arrow-dropdown" pullingText="Pull to refresh"
			refreshingSpinner="circles" refreshingText="Refreshing...">
		</ion-refresher-content>
	</ion-refresher>
	<ion-spinner class="center" *ngIf="loaderAMm" color="primary" name="lines"></ion-spinner>
	<div class="form-style-10" *ngIf="!loaderAMm">
		<h1>Active Ticket</h1>

		<ion-card [routerLink]="['/view', user_id, ticket.id ]" *ngFor="let ticket of tickets">
			<ion-card-header>
				<ion-card-subtitle>{{ticket.name}}</ion-card-subtitle>
			</ion-card-header>
			<!-- <ion-card-content>{{ticket.category_id.name}}</ion-card-content> -->
		</ion-card>
		<ion-infinite-scroll *ngIf="morePage" (ionInfinite)="loadMore($event)" loadingSpinner="bubbles" loadingText="Loading Users...">
			<ion-infinite-scroll-content></ion-infinite-scroll-content>
		</ion-infinite-scroll>
	</div>
</ion-content>
<div *ngIf="!loaderAMm">
	<ion-fab horizontal="end" vertical="bottom" slot="fixed" >
		<ion-fab-button color="danger" (click)="logoutUser()">
			<ion-icon name="log-out"></ion-icon>
		</ion-fab-button>
	</ion-fab>
	<ion-fab vertical="bottom" horizontal="start" slot="fixed">
		<ion-fab-button color="primary" (click)="goAdd()">
			<ion-icon name="add"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</div>
